
.calc-operations{
    max-width: 300px;
    
}
.digits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.opers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.calc button {
    width: 100%

}

.display{
    max-width: 296px;
    width: 100%;
    justify-content: space-around;
    
}
